/* .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    box-sizing: border-box;
    padding: 20px; 
}

.dashboard {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
} */

.dashboard {
    padding-left: 150px;
    padding-top: 50px;
}

.carousel-section {
    width: 700px;
}

.carousel-item {
    text-align: center;
}

.carousel-image {
    width: 100%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slick-dots {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    align-items: center;
}