.footer-section {
    position: relative;
}

.app-footer {
    display: flex;
    align-items: flex-start;
    padding-left: 200px;
    padding-right: 200px;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    color: #707070;
}

.footer-links {
    font-size: 14px;
    display: flex;
    height: 35px;
    line-height: 35px;
    align-items: center;
    border-left: 1px solid #EAEAEA;
}

.footer-links div {
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #EAEAEA;
    padding: 0px 20px;
    cursor: pointer;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #1976d2;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-info-text {
    margin-left: 10px;
    color: #8B8B8B;
    font-size: 13px;
}

.footer-logo {
    margin-top: 15px;
    margin-right: 20px;
}

.footer-logo img {
    width: 150px; 
    height: auto;
    opacity: 0.8; 
}

.footer-logo img:hover {
    opacity: 1;
}