.app-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    text-align: start;
    padding-left: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 하단 박스 쉐도우 */
    min-height: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.logo-div {
    cursor: pointer;
}

.logo-icon {
    height: 45px;
    cursor: pointer;
    margin-top: 3px;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    padding-right: 20px;
    min-width: 240px;
}

.location-icon {
    font-size: 11px;
    margin-left: 3px;
    margin-bottom: -1px;
}

.weather-cityName {
    font-weight: bold;
    color: #707070;
}

.weather-temp-humidity span {
    margin-left: 7px;
    margin-right: 7px;
}

.weather-detail {
    margin-left: 15px;
}

.temp-icon {
    font-size: 13px;
    margin-bottom: -1px;
    margin-right: 3px;
}

.humid-icon {
    font-size: 15px;
    margin-bottom: -2px;
    margin-right: 3px;
}

.weather-description {
    font-weight: bold;
    color: #707070;
    text-align: center;
    margin-left: 10px;
}

.menu-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu-item {
    position: relative;
    font-size: 14px;
    color: #4829B2;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
}

.info-message {
    color: #707070;
    text-align: center;
    font-weight: bold;
}

.logo-text {
    font-family: "'Baloo Bhaijaan', cursive";
    font-weight: 400;
}

.weather-temp {
    margin-left: 10px;
}

.weather-humidity {
    margin-left: 5px;
}

.temp-text {
    color: #707070;
}

.humidity-text {
    color: #707070;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
  
.menu-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 17px 13px;
    white-space: nowrap;
}

.menu-link:hover {
    background-color: #9E0011;
    color: #FFF;
}
  
.submenu {
    position: absolute;
    top: 100%;                                          /* 헤더 바로 아래로 */
    left: 0;
    width: 100vw;                                       /* 헤더의 전체 너비로 설정 */
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    display: flex;                                      /* 하위 메뉴 아이템을 가로로 배치 */
    justify-content: space-around;
    z-index: 10;
}
  
.submenu-item {
    display: block;
    font-size: 14px;
    color: #4829B2;
    text-decoration: none;
    margin: 5px 0;
}
  
.submenu-item:hover {
    color: #000;
    background-color: rgba(72, 41, 178, 0.1);
    text-decoration: none;
}

.menu-item:hover .submenu {
    visibility: visible;
    opacity: 1;                                         /* 마우스를 올리면 보이게 */
}

.dropdown-box {
    position: absolute;
    top: 100%; /* 메뉴바 바로 아래 */
    left: 0;
    width: 100%; /* 메뉴바 전체 길이 */
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 80%; /* 적당한 너비로 중앙 정렬 */
}

/* 소메뉴 열 */
.dropdown-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.dropdown-column:last-child {
    border-right: none;
}

.column-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px;
    color: #9E0011; /* 강조 색상 */
}

.dropdown-item {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-size: 14px;
}

.dropdown-item:hover {
    color: #9E0011;
    font-weight: bold;
}
