html, body {
  margin: 0;
  padding: 0;
  height: 100%;             /* 전체 화면 높이 차지 */
  overflow: hidden;         /* 스크롤 제거 */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;            /* 화면 전체 높이 */
  box-sizing: border-box;
}